@{
    ViewData["Title"] = "Steps";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    < class="col-md-12 mt-5">
    <h2>Linear stepper</h2>
    <div id="stepper1" class="bs-stepper">
        <div class="bs-stepper-header">
            <div class="step" data-target="#test-l-1">
                <button type="button" class="btn step-trigger">
                    <span class="bs-stepper-circle">1</span>
                    <span class="bs-stepper-label">First step</span>
                </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-2">
                <button type="button" class="btn step-trigger">
                    <span class="bs-stepper-circle">2</span>
                    <span class="bs-stepper-label">Second step</span>
                </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-3">
                <button type="button" class="btn step-trigger">
                    <span class="bs-stepper-circle">3</span>
                    <span class="bs-stepper-label">Third step</span>
                </button>
            </div>
        </div>
        <div class="bs-stepper-content">
            <div id="test-l-1" class="content">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <button class="btn btn-primary" >Next</button>
            </div>
            <div id="test-l-2" class="content">
                <p class="text-center">test 2</p>
                
                <button class="btn btn-warning" >Previous</button>
                <button class="btn btn-primary" >Next</button>

            </div>
            <div id="test-l-3" class="content">
                <p class="text-center">test 3</p>
                <button class="btn btn-warning" >Previous</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>

      $(document).ready(function () {

          debugger;
        var stepper1Node = document.querySelector('#stepper1');
        var stepper1 = new Stepper(document.querySelector('#stepper1'));

        var btnNextList = [].slice.call(document.querySelectorAll('.btn-primary'));

        btnNextList.forEach(function (btn) {
            btn.addEventListener('click', function () {
            stepper1.next();
            })
        });

        var btnprev = [].slice.call(document.querySelectorAll('.btn-warning'));

        btnprev.forEach(function (btnp) {
            btnp.addEventListener('click', function () {
            stepper1.previous();
            })
        });



     stepper1Node.addEventListener('show.bs-stepper', function (event) {
          //console.log('show.bs-stepper', event)
          console.log('show.bs-stepper', "show.bs-stepper fired!");
        });
        stepper1Node.addEventListener('shown.bs-stepper', function (event) {
          //console.log('shown.bs-stepper', event)
          console.log('shown.bs-stepper', "show.bs-stepper fired!");
        });

      });
    </script>
 }