@using MVCWizard.Web.Application
@model MVCWizard.Web.Models.EmployeeDto

<div class="row">
    <div class="col-md-12">
        <form id="EditForm"
              asp-action="ConfirmEdit"
              asp-controller="Employee"
              data-ajax="true"
              data-ajax-method="Post"
              data-ajax-mode="replace"
              data-ajax-update="#div_edit"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div id="div_edit">
                @Html.HiddenFor(x => x.Id)
                <div class="form-group">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirthAsString" class="control-label"></label>
                    <input asp-for="DateOfBirthAsString" asp-format="{0:dd/MM/yyyy}" class="form-control datepicker" type="text" />
                    <span asp-validation-for="DateOfBirthAsString" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <select asp-for="Gender" class="form-select" asp-items="@Model?.GenderList"></select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dept" class="control-label"></label>
                    <input asp-for="Dept" class="form-control" />
                    <span asp-validation-for="Dept" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Salary" class="control-label"></label>
                    <input asp-for="Salary" class="form-control" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfStartAsString" class="control-label"></label>
                    <input asp-for="DateOfStartAsString" asp-format="{0:dd/MM/yyyy}" class="form-control datepicker" type="text" />
                    <span asp-validation-for="DateOfStartAsString" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bio" class="control-label"></label>
                    <input asp-for="Bio" class="form-control" />
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <input type="button" value="Update" class="btn btn-primary" id="btnSubmit" />
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <div id="Results" style=" color:red"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
       $(document).ready(function () {
            $(".datepicker").datepicker({
                dateFormat: 'dd-mm-yy',
                format: 'dd-MM-yyyy'
            }
          );

           $("#btnSubmit").click(function () {

                    //debugger;
                    var form = $('#EditForm');
                    $.validator.unobtrusive.parse(form);
                    form.validate();
                    if (!form.valid()) {
                        return false;
                    }

               var myformdata = form.serialize();
               console.log(myformdata);
               var token =  $('input[name="__RequestVerificationToken"]').val();
               var req_headers = {};
               req_headers["RequestVerificationToken"] = token;
                $.ajax({
                    type: "POST",
                    headers: req_headers,
                    url: "/Employee/ConfirmEdit?"+myformdata,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function (response) {
                        //debugger;
                        if(response.errors != '')
                            $('#Results').html(response.errors);
                         else
                            {
                                //alert('must close');
                                //debugger;
                                $('#dialog_edit').dialog('close');
                                location.reload();
                            }
                    }
                });//end of ajx call

            });//end of submitt button call
    });
</script>
