@model IEnumerable<MVCWizard.Web.Models.EmployeeDto>

@{
    ViewData["Title"] = "Employees List";
}
<h1>Employees List</h1>
<p>
    <a asp-action="Create">Create New Emplyee</a>
</p>
<h5>Get Emp partial using data url:</h5>
<div id="CompletedSections" 
     data-url="@Url.Action("GetEmployeesAsPartialView", "Employee")">
</div>
<br />
<hr />

<partial name="_EmployeeList.cshtml" for="@Model" />
<br />
<hr />
<h5>Get Emp Div By Ajax:</h5>
<div id="emp_div">
</div>
<br />
<hr />

<div id="div_emp_details">
</div>
@section Scripts {

<script>
    $(document).ready(function () {
    
        
    //////////////////////////////////////////
    var item = $('#CompletedSections');
    var url = item.data("url");
    item.load(url);
    //////////////////////////////////////////

    $.ajax({
        type: "GET",
        url: "/Employee/GetEmployeesAsPartialView",
        contentType: "application/json; charset=utf-8",
        dataType: "html",
        cache: false,
        data: {},
        success: function (response) {
            $("#emp_div").html(response);
            add_events_to_button();
        },
        failure: function (response) {
            console.log(response);
        },
        error: function (response) {
            console.log(response);
        }
    });

    function add_events_to_button() {
        $("[data-id]").on
        ("click",
            function () {
            var empid = $(this).attr('data-id');
            //alert(empid);
            $.ajax({
                type: "GET",
                url: "/Employee/GetEmployeeDetails",
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                data: {"emp_id": empid},
                cache: false,
                success: function (response) {
                    $("#div_emp_details").html(response);
                },
                failure: function (response) {
                    console.log(response);
                },
                error: function (response) {
                    console.log(response);
                }
            });
        });
    }

  
});

</script>

 }
